<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">

      <form class="text-center border border-light p-5" [formGroup]="registerForm" (ngSubmit)="submit()">


        <h3>Registration</h3>
        <br>
        <br>
        <div class="form-row mb-4">
          <div class="col">

            <input type="text" formControlName="firstname" name='firstname' class="form-control"
              placeholder="First Name">
          </div>
        </div>

        <div class="form-row mb-4">
          <div class="col">

            <input type="text" formControlName="lastname" name='lastname' class="form-control" placeholder="Last Name">

          </div>
        </div>

        <div class="form-row mb-4">
          <div class="col">

            <input type="text" formControlName="username" name='username' class="form-control" placeholder="Username">

          </div>
        </div>

        <div class="form-row mb-4">
          <div class="col">

            <input type="password" formControlName="password" name='password' class="form-control"
              placeholder="Password">
            <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
              Minimum 8, maximum 15 characters. Minimum 1 uppercase, 2 lowercase and 3 numeric characters

            </small>
          </div>
        </div>

        <div class="form-row mb-4">
          <div class="col">

            <input type="text" formControlName="contactPhone" name='contactPhone' class="form-control"
              placeholder="Contact Phone">

          </div>
        </div>

        <div class="form-row mb-4">
          <div class="col">

            <input type="email" formControlName="email" name='email' class="form-control" placeholder="Email">

          </div>
        </div>

        <div class="form-row mb-4">
          <div class="col">

            <input type="text" formControlName="address" name='address' class="form-control"
              placeholder="Current address">

          </div>
        </div>

        <div class="form-row mb-4">

          <div class="col">
            <p-dropdown [options]="municipalities" autoWidth="false" [style]="{'width':'100%'}"
              formControlName="municipality"></p-dropdown>
            <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
              Municipality

            </small>
          </div>
        </div>



        <div class="form-row mb-4">

          <div class="col">
            <span class="btn btn-secondary btn-file">
              Browse <input accept="image/x-png,image/gif,image/jpeg" type='file' (change)="onImagePicked($event)"
                name='image'>
            </span>
            <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
              Profile picture

            </small>
          </div>
        </div>





        <div class="form-row mb-4">
          <div class="col">
            <div class="col-md-12 mx-auto">
              <img class="image-preview rounded" [src]="imagePreview" *ngIf="imagePreview !== '' && imagePreview">
            </div>
          </div>
        </div>


        <br>
        <br>
        <div class="form-row mb-4">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">

            <button type="submit" class="btn btn-block" style="color:white;background-color:#df3838">Register</button>
          </div>
          <div class="col-sm-3"></div>
        </div>
        <hr>


      </form>

    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="alert alert-danger text-center" role="alert" *ngIf="registerMessage" style="font-weight: bold">
        {{registerMessage}}
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>


</div>